<!DOCTYPE html>
<html>
    <style>
   body {
    background-image: url(/static/BGB1.png); /* Путь к фоновому изображению */
   }

    </style>
    <body id="body">
    <div style="position: relative; top: 50%; transform: translateY(30%);">
    <table style="width:80%" align="center">
        <tr>
            <th><a href="/control/{{LCD}}/1/"><img src="/static/Group 6.png" width="228.95 px" /></a></th>
            <th><a href="/control/{{LCD}}/2/"><img src="/static/Group 5.1.png" width="228.95 px" /></a></th>
            <th><a href="/control/{{LCD}}/3/"><img src="/static/Group 5.2.png" width="228.95 px" /></a></th>
            <th><a href="/control/{{LCD}}/4/"><img src="/static/Group 5.3.png" width="228.95 px" /></a></th>
        </tr>
    </table><table style="width:60%" align="center">
        <tr>
            <th><a href="/control/{{LCD}}/5/"><img src="/static/Group 5.4.png" width="228.95 px" /></a></th>
            <th><a href="/control/{{LCD}}/6/"><img src="/static/Group 5.5.png" width="228.95 px" /></a></th>
            <th><a href="/control/{{LCD}}/7/"><img src="/static/Group 5.6.png" width="228.95 px" /></a></th>
        </tr>
    </table>
    </div>
    </body>
</html>